.section {
    background-color: white;
    margin: 20px 0;
}

.section__header {
    align-self: flex-start;
    padding: 20px;
    margin: 0;
}

@media (max-width: 710px) {
    .section__header {
        display: flex;
        justify-content: center;
    }
}

.section__headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    border-bottom: 2px #eee solid;
}

@media(max-width: 576px) {
    .section__headerContainer {
        flex-direction: column;
        gap: 20px;
    }
}

.section__body {
    padding: 20px;
}