.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
}

@media (max-width: 710px) {
    .form {
        display: flex;
        flex-direction: column;
    }
}

.form__input {
    border: 2px solid #eee;
    padding: 10px;
}

.form__button {
    background: teal;
    border: 0px;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.form__button:hover {
    background: rgb(10, 133, 155);
    transform: scale(1.1);
}