html {
  box-sizing: border-box;
  background-color: hsl(0, 0%, 95%);
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  background: #eee;
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 95%);
}